body {
  background-color: #ffe6f0;
  color: #660033;
  font-family: "Georgia", serif;
}
h2 { color: #cc0066; text-align: right; }
.highlight { background-color: #ffb3cc; border: 3px solid #cc0066; padding: 10px; }
a { color: #ff3399; }
button { background-color: #ff66b2; color: white; padding: 10px; border-radius: 8px; margin: 5px; }
